@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand");

:root {
  --garamond: "EB Garamond", serif;
  --quicksand: "Quicksand", sans-serif;

  --orange_pantone: #ee6123;
  --gunmetal: #1c3041;
  --dark_spring_green: #04724d;
  --maximum_blue_green: #59c3c3;
  --minion_yellow: #f4e04d;
}

* {
  margin: 0;
  padding: 0;

  font-family: var(--quicksand);
}

/* Header styles --------- */

header {
  text-align: center;
  background-color: var(--maximum_blue_green);

  padding: 1em 0;
}

header > div {
  display: flex;
  justify-content: center;
}

header {
  background-color: var(--maximum_blue_green);
}

/* Navigation styles ----- */

nav {
  padding: 1em 0.5em;
  background-color: var(--gunmetal);
}

nav > ul > li {
  padding: 0.5em 0;
}

nav > ul > li > a {
  padding: 0.5em;
  color: var(--maximum_blue_green);

  text-decoration: none;
}

nav > ul > li > a.active_page {
  text-decoration: underline overline;
  text-underline-offset: 5px;
  text-decoration-color: var(--orange_pantone);
}

nav > ul > li > a:hover {
  text-decoration: underline overline;
  text-underline-offset: 5px;
}

/* Main styles --------- */

main > p {
  font-family: var(--garamond);
  margin-top: 1em;
}

main > section {
  padding: 1em 0.5em;
}

#ads {
  display: flex;
  flex-direction: column;

  align-items: center;
}

#ads > div:nth-child(1) {
  background-image: url("https://source.unsplash.com/featured/300x400/?ads");
}

#ads > div:nth-child(2) {
  background-image: url("https://source.unsplash.com/featured/300x400/?advertising");
}

#ads > div {
  width: 100%;
  height: 320px;

  display: flex;

  justify-content: center;
  align-items: end;

  border: 1px dashed var(--gunmetal);

  margin: 0.5em 0;
}

#ads > div > a {
  margin-bottom: 2em;
}

/* 
#city > div > img {
}
*/

#weather {
  display: flex;

  justify-content: center;
  align-items: center;
}

#map_info > div {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 1em 0;
}

a.button {
  border: 1px solid var(--dark_spring_green);
  border-radius: 2px;

  text-align: center;
  text-decoration: none;
  color: var(--gunmetal);

  padding: 0.5em 1.5em;
  max-height: 1.2em;

  background-color: white;
}

/* Footer styles --------- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 1em 0.5em;
  background-color: var(--gunmetal);
}

footer > p {
  font-size: 0.8em;
  color: white;
}

footer > section {
  height: 2em;
}

footer > section > a {
  margin: 0.2em;
}

footer > section > a > img {
  color: white;
}

footer > section > a {
  color: white;
  text-decoration: none;
}

.highlight_text {
  color: var(--orange_pantone);
}
