main {
  display: flex;
  flex-direction: column;

  max-width: 100%;
}

main > picture {
  max-width: 100%;

  margin: 10px;
}

main > picture:hover {
  box-shadow: 1px 1px 20px var(--black-fogra-29);
}

main > picture > img {
  border: 1px solid var(--persian-orange);
}

main > picture > p {
  padding: 5px;
}

@media screen and (min-width: 568px) and (max-width: 1020px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1020px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
