nav {
  background-color: var(--black-fogra-29);
  color: var(--light-yellow);
}

nav > section {
  display: flex;
  justify-content: center;
  padding: 0.3em 0;
}

nav > section > h2 {
  margin: 0 1em 0 0;
  text-align: center;
}

nav > #toggleMenu {
  flex-direction: column;

  list-style-type: none;
  padding: 0;
}

nav > #toggleMenu > li {
  text-align: center;
  margin: 0.2em 0;
}

nav > #toggleMenu > li > a {
  color: var(--light-yellow);
  width: 100%;
  height: 100%;
  margin: 0.5em 0;
}

nav > #toggleMenu > li > a:hover {
  background-color: var(--light-yellow);
  color: var(--black-fogra-29);
}

/* Hamburhuer checknox */

.container {
  height: 100%;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: var(--light-yellow);
  transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}
